body {
    margin: 0;
    padding: 0;
    background: #151515;
    color: #eaeaea;
    font-size: 16px;
    line-height: 1.5;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

header {
    background: rgba(0,0,0,0.1);
    width: 100%;
    border-bottom: 1px dashed #b5e853;
    padding: 20px 0;
    margin: 0 0 40px 0;
}

header {
    display: block;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

div {
    display: block;
}

.btn {
    /* display: inline-block; */
    background: -webkit-linear-gradient(top, rgba(40,40,40,0.3), rgba(35,35,35,0.3) 50%, rgba(10,10,10,0.3) 50%, rgba(0,0,0,0.3));
    padding: 8px 18px;
    border-radius: 50px;
    border: 2px solid rgba(0,0,0,0.7);
    border-bottom: 2px solid rgba(0,0,0,0.7);
    border-top: 2px solid #000;
    color: rgba(255,255,255,0.8);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.75);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.05);
}

#downloads .btn {
    display: inline-block;
    text-align: center;
    margin: 0;
}

section {
    display: block;
    margin: 0 0 20px 0;
}

a {
    color: #63c0f5;
    text-shadow: 0 0 5px rgba(104,182,255,0.5);
}

a:-webkit-any-link {
    cursor: pointer;
}

.btn .icon {
    width: 18px;
    height: 18px;
    margin: 0 8px 0 0;
    float: left;
}

header h1:before {
    content: "./  ";
    font-size: 24px;
}

header h1 {
    font-size: 30px;
    line-height: 1.5;
    margin: 0 0 0 -40px;
    font-weight: bold;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color: #b5e853;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0 5px rgba(181,232,83,0.1), 0 0 10px rgba(181,232,83,0.1);
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;
}

header h2 {
    font-size: 18px;
    font-weight: 300;
    color: #666;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color: #b5e853;
    letter-spacing: -0.03em;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0 5px rgba(181,232,83,0.1), 0 0 10px rgba(181,232,83,0.1);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px;
}

.twitter-data {
    position: relative;
    /* width: 200px; */
    height: auto;
    border: #b5e853;
    border-width: 20px;
}

span {
    color: #1C9CE9;
}